beautifulsoup4~=4.13.3
colorama~=0.4.6
colorlog~=6.9.0
fuzzywuzzy~=0.18.0
gtts~=2.5.4
langdetect~=1.0.9
pathspec~=0.12.1
pyannote.audio~=3.3.2
pyttsx3~=2.98
pytz~=2025.1
requests~=2.32.3
spacy~=3.8.4
torch~=2.6.0
transformers~=4.48.2
vadersentiment~=3.3.2
whisper~=1.1.10
